html {
    background-color: rgb(216, 216, 216);
}

.title {
    text-align: center;
    padding: 20px;
    background-color: white;
    color: green;
    font-size: 48px;
}

li {
    display: block;
    position: relative;
    margin: 10px;
}

.checkbox {
    display: inline-block;
    position: absolute;
    left: -25px;
}

.delete {
    display: inline-block;
    position: absolute;
    cursor: pointer;    
    left: -50px;
    top: -1px;
    scale: 70%;
}

.completed {
    color: green;
    text-decoration: line-through;
}
